html,
body {
  padding: 0;
  margin: 0;
  height: 100%;
  overflow-y: auto !important;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
  body {
    color: white;
    background: black;
  }
}

.hover-pointer:hover {
  cursor: pointer;
}

/* BULMA CSS BUGS */
.select select {
  width: 100%;
}

.modal-background {
  background-color: rgba(0, 0, 0, 0.5) !important;
}

.modal-card {
  max-width: 75% !important;
}
